<form ngNoForm>
	<div>
		<label for="message">Message</label>
		<input type="text" id="message" [(ngModel)]="newMessage.title" autocomplete="off">
		<button type="submit" (click)="addMessage($event, newMessage)">Submit</button>
	</div>
</form>

<select #sel (change)="setStatus(sel.value)" style="margin-top: 16px;">
	<option *ngFor="let status of statuses">
		{{ status }}
	</option>
</select>

<ul>
	<li *ngFor="let message of messages | async | status: status">
		<button (click)="removeMessage(message._id)">X</button>
		<input type="checkbox" [ngModel]="message.isDone" (ngModelChange)="updateStatus($event, message)">
		<span class="item-text" contentEditable="true" (keypress)="updateTitle($event, message)">{{ message.title }}</span>
	</li>
</ul>
<div style="color: red" *ngIf="errorMsg">{{errorMsg}}</div>
